<div class="main">
    <div class="sec1">
        <!-- boxes -->

        <div>
            <div class="b1">
                <h2>Part Number</h2>
            </div>

            <div class="b1">
                <h2>Pallet Part Quantity</h2>
            </div>

            <div class="b1">
                <h2>Total Boxes in Pallet</h2>
            </div>

            <div class="b1">
                <h2>Box Part Quantity</h2>
            </div>
        </div>

        <div>
            <div class="texts">
                <h1>1234A</h1>
            </div>
            <div class="texts">
                <h1>140</h1>
            </div>
            <div class="texts">

                <!-- <div *ngIf = "show">
              <h1 style = "display: inline-block;" #one>7</h1>
              <mat-icon (click) = "edit()">edit</mat-icon>
             
  
          </div>
          
          <div  *ngIf = "ip">
              <input value = "" type = "text" [(ngModel)] = "val">
            
          </div> -->





            </div>

            <div class="texts">


            </div>
        </div>
    </div>
    <div class="sec2">
        <!-- boxes -->

        <div>
            <div class="b2">
                <h2>Outbound Feed</h2>
            </div>

            <div class="b2">
                <h2>Packing Type</h2>
            </div>

            <div class="b2">
                <h2>Packing Index</h2>
            </div>
        </div>

        <!-- radio buttons -->
        <div>
            <!-- radio-1 -->
            <div class="radio">
                <mat-radio-group aria-label="Select an option" class="radio1">
                    <mat-radio-button value="1">Option 1</mat-radio-button>
                    <mat-radio-button value="2">Option 2</mat-radio-button>
                </mat-radio-group>
            </div>

            <!-- radio-2 -->
            <div class="radio">
                <mat-radio-group aria-label="Select an option" class="radio1">
                    <mat-radio-button value="1">Pallet Level</mat-radio-button>
                    <mat-radio-button value="2">Box Level</mat-radio-button>
                </mat-radio-group>
            </div>

            <!-- radio-3 -->

            <div class="radio">
                <mat-radio-group aria-label="Select an option" class="radio1">
                    <mat-radio-button value="1">103</mat-radio-button>
                    <mat-radio-button value="2">104</mat-radio-button>
                    <mat-radio-button value="2">105</mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
    </div>
</div>

<div class="buttons">
    <button class="button1" mat-stroked-button (click)="confirm">Confirm</button>
    <button class="button2" mat-stroked-button>Start</button>
</div>



<div *ngIf="hide">8</div>
{{store}}
<mat-icon (click)="edit()">edit</mat-icon>
<!-- <input *ngIf="in" type="text" value="" [(ngModel)]="store" #tnt> -->